/*---------------BODY---------------*/
body{
  font-family: Jaldi, sans-serif;
  display: block;
  background-color:#000;
  font-size: 11pt;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

sup{
  font-size: 60%;
  margin:0 .2em;
}

.container{
  width: 80%;
  background-color: #fff;
  min-width: 930px;
  margin: auto;
}
/*---------------HEADER---------------*/
header{
  height: 50px;
  padding: 10px 30px 10px 10px;
  background: #fff;
}




/*---------------MAIN NAV---------------*/
nav{
  display: inline-block;
  float:left;
  height: auto;

}

nav img {
  height: 25px;
  width: auto;
  margin: 10px;
  float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
  float: left;
}

nav a {
    display: inline-block;
    color: #FF4500;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    margin: 10px 5px;
    text-decoration: none;
}

nav a:hover {
    color: #3d2513;
    border-bottom: 3px double;
    border-color: #FF4500;
}



/*---------------HELP---------------*/
.help{
  float: right;
  display: inline-block;
}

.help ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.help li{
  float: left;
}

.help a{
  color: pink;
  text-align: center;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  text-transform: none;
}

.help a:hover {
    color: pink;
    border-bottom: 2px solid pink;
}

.help img {
  height: 1em;
  margin: 0;
  padding: 0;
  padding-right: 5px;
}



/*---------------FEATURED---------------*/
.featured {
  background: #FF4500; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #FF4500 , #f9207e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #FF4500, #f9207e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #FF4500, #f9207e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #FF4500 , #f9207e); /* Standard syntax */
  color: #fff;
  display: block;
  padding: 3% 0 5%;
  padding-left: 11%;
  padding-right: 11%;
  clear: both;
  overflow: auto;
  zoom: 1;

}

.featured a{
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.featured a:hover{
  color: #3d2513;
}

.featured img{
  display: inline-block;
  max-width: 50%;
  padding-top: 50px;
  margin-right: 8%;
  float: left;
}

.featuredDescription{
  display: inline-block;
  min-width: 20%;
  max-width: 42%;

}

.featuredDescription h1{
  font-size: 3.5em;
  font-weight: 400;
  margin: 10px 0;
  line-height: 1em;

}

.featuredDescription h2{
  color: #3d2513;
  margin:0;
  padding: 0;
  font-weight: lighter;
  font-size: 10pt;
  letter-spacing: 1px;
}

.featuredDescription hr{
  border: 2px dashed #3d2513;
  border-style: none none dashed;
  background: none;
  opacity:0.25;
  margin: 20px 0px;
}

.featuredDescription p{
  display: inline-block;
  line-height: 2em;
  font-size: 1.1em;
  margin: 0;
}

.featuredDescription a{
  color: #3d2513;
  text-decoration: underline;
  margin: 0;
}

.featuredDescription a:hover{
  color: #fff;
}

.featuredDescription .price{
  display: inline-block;
  color: #fff;
  font-size: 24pt;
}

.featuredDescription button{
  display: inline-block;
  background-color: #fff;
  color: #FF4500;
  border-color: none;
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 15px 20px;
  letter-spacing: .1em;
  border-radius: 7px;
  margin-left: 15px;
  border-width: 0;
  cursor: pointer;
  border: 2px solid #fff;
  outline: none;
}

.featuredDescription button:hover{
  background-color: transparent;
  color:#fff;
  border: 2px solid #fff;
}



/*---------------PRODUCT DETAILS---------------*/
.productDetails {
  clear: both;
  display: block;
  background-color: #fff;
  margin-top: 40px;
  padding: 0px 0px 40px;
  padding-left: 11%;
  padding-right: 11%;
  color: #3d2513;
  line-height: 2em;

}

.productDetails h2{
  margin: 0px;
  font-size: 18pt;
  font-weight: lighter;
}

.productDetails h3{
  font-size: 14pt;
  font-weight: lighter;
}

.productDetails p {
  color: #a87d70;
}



/*---------------DETAILS MENU---------------*/
.detailsMenu{
  display: block;
  background: ;
  padding-bottom:3px;
  border-bottom: 1px solid pink;
  margin-bottom: 30px;
  height: 30px;
}

.detailsMenu ul{
  display: block;
  list-style-type:none;
  margin:0;
  padding:0;
  overflow: hidden;
  color: #FF4500;
}

.detailsMenu li{
  display: inline-block;
  display: inline-block;
  margin-right: 20px;
  padding-bottom: 2px;
  text-decoration: none;
  font-size: 1.3em;
  border-bottom: 2px solid none;
  cursor: pointer;
}

.detailsMenu li:hover{
  border-bottom: 2px solid pink;
}


li.reviews{
  float: right;
  margin: 0;
  font-size: 1em;
  color: pink;
}

.selected{
  border-bottom: 2px solid pink;
  color: brown;
}

.hidden{
  display : none;
}


/*---------------RECOMMENDED---------------*/
.recommended {
  background: #FF4500; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #FF4500 , #f9207e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #FF4500, #f9207e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #FF4500, #f9207e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #FF4500 , #f9207e); /* Standard syntax */
  display: block;
  padding-bottom: 75px;
}

.recommendedHeading{
  display: block;
  background: #ffefef;
  text-align: center;
  padding: 20px 0;
  /*margin-bottom: 70px;*/
}

.recommendedHeading h1{
  margin: 0px;
  font-size: 1.5em;
  font-weight: normal;
  color: #3d2513;
  letter-spacing: 1px;
}

.items{
  display: inline-block;
  margin-left: 11%;
  margin-right: 11%;
  margin-top: 70px;
  text-align: center;
}

.recommendedItem{
  display: inline-block;
  width: 25%;
  min-width: 230px;
  padding: 30px;
  text-align: left;
  -webkit-transition: transform .1s ease-in-out;
  -moz-transition: transform .1s ease-in-out;
  transition: transform .1s ease-in-out;
}

.recommendedItem:hover{
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: rgba(0,0,0,0.1);
}

.recommendedItem a{
  text-decoration: none;
  color: #fff;
}

.recommendedItem img{
  /*width: 275px;*/
  width: 100%;
  display: block;
}

.recommendedItem h1{
  display: inline-block;
  font-size: 1.5em;
  margin: 0;
  margin-top: 10px;
  font-weight: 400;

}

.recommendedItem h2{
  display: inline-block;
  font-size: 1.1em;
  color: #3d2513;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
}


/*---------------FOOTER---------------*/
footer {
  display: block;
  height: 50px;
  padding: 10px;
  background: #fff;
}

.footerNav a{
  text-transform: none;
}

.copyright{
  display: block;
  float: right;
  color: #a87d70;
  margin-right: 10px;
}

.copyright a{
  color: #a87d70;
}
